.pokedex {
  width: 700px;
  height: 360px;

  border-radius: 30px 8px 8px 30px;

  display: flex;
  flex-direction: row;
}

.pokedex-red {
  background-color: var(--base-red);
  border: 6px solid var(--darker-red);
}

.pokedex-yellow {
  background-color: var(--base-yellow);
  border: 6px solid var(--darker-yellow);
}

.pokedex-blue {
  background-color: var(--base-blue);
  border: 6px solid var(--darker-blue);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-panel {
  width: 60%;
  height: 100%;
  border-right: 6px solid var(--dark-grey);
  padding: 10px 20px;
  justify-content: space-evenly;
}

.screen {
  background-color: #fff;
  border-radius: 8%;
}

.pokedex-red .screen,
.pokedex-red .button {
  border: 4px solid var(--dark-red);
}

.pokedex-yellow .screen,
.pokedex-yellow .button {
  border: 4px solid var(--dark-yellow);
}

.pokedex-blue .screen,
.pokedex-blue .button {
  border: 4px solid var(--dark-blue);
}

.left-panel .name-display {
  width: 80%;
  height: 36px;
  display: flex;
  align-items: center; /* Y */
  justify-content: center; /* X */

  text-transform: uppercase;
  font-size: larger;
  font-weight: 800;
}

.right-panel {
  position: relative;
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel .main-screen {
  width: 260px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-screen img {
  width: 200px;
  height: 200px;
}

.sprite {
  object-fit: cover;
  image-rendering: pixelated;
}

.right-panel .controls {
  width: 100%;
  display: flex;

  justify-content: space-around;
}

.right-panel .leds {
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
}

.right-panel .second-screen {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.obfuscated {
  filter: blur(5px);
}

.ready {
  filter: blur(0);
}

.ready--quick {
  transition: filter 200ms linear 200ms;
}

.ready--regular {
  transition: filter 300ms linear 400ms;
}

.ready--slow {
  transition: filter 500ms linear 800ms;
}
