* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  color: #300000;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root {
  --base-red: #e85656;
  --dark-red: #750808;
  --darker-red: #6b1414;

  --base-yellow: #f0f0a1;
  --dark-yellow: #a1a16d;
  --darker-yellow: #6d6d3f;

  --base-blue: #7a7ad4;
  --dark-blue: #4a4a8f;
  --darker-blue: #2b2b6c;

  --grey: #8f8f8f;
  --dark-grey: #6d6d6d;
}
